[Unit]
Description=Centhruk Service
ConditionPathExists=/usr/local/bin/centhruk
After=network.target

[Service]
Type=simple
User=nobody
Group=nogroup

WorkingDirectory=/usr/local/bin
ExecStart=/usr/local/bin/centhruk

Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
